/180911_001_FirstWebApp/nbproject/private/
/180911_001_FirstWebApp/build/
/180911_001_1_FirstWebApp/nbproject/private/
/180911_001_1_FirstWebApp/build/
/180917_002_FirstForm/nbproject/private/
/180917_002_FirstForm/build/
/180918_004_WaehrungsRechner/nbproject/private/
/180918_004_WaehrungsRechner/build/
/Syp_180919_Pattern_Observer/nbproject/private/
/180925_004_WaehrungsRechner/nbproject/private/
/180925_004_WaehrungsRechner/build/
/180925_005_Schuelerliste/nbproject/private/
/180925_005_Schuelerliste/build/
/180925_005_Schuelerliste/dist/
/Syp_180919_Pattern_Observer/build/
/181009_105_Pizzaservice/nbproject/private/
/181009_105_Pizzaservice/build/
/181009_105_Pizzaservice/dist/
/Syp_181011_Decorator-Pattern/nbproject/private/
/Syp_181011_Decorator-Pattern/build/