/180911_001_FirstWebApp/nbproject/private/
/180911_001_FirstWebApp/build/
/180911_001_1_FirstWebApp/nbproject/private/
/180911_001_1_FirstWebApp/build/
/180917_002_FirstForm/nbproject/private/
/180917_002_FirstForm/build/
/180918_004_WaehrungsRechner/nbproject/private/
/180918_004_WaehrungsRechner/build/
/Syp_180919_Pattern_Observer/nbproject/private/
/180925_004_WaehrungsRechner/nbproject/private/
/180925_004_WaehrungsRechner/build/
/180925_005_Schuelerliste/nbproject/private/
/180925_005_Schuelerliste/build/
/180925_005_Schuelerliste/dist/
/Syp_180919_Pattern_Observer/build/
/181009_105_Pizzaservice/nbproject/private/
/181009_105_Pizzaservice/build/
/181009_105_Pizzaservice/dist/
/Syp_181011_Decorator-Pattern/nbproject/private/
/Syp_181011_Decorator-Pattern/build/
/.metadata/
/kamunda/GettingStardedKamunda/target/
/Camunda/GettingStardedKamunda/target/
/Camunda/GettingStardedKamunda_Netbeans/target/
/181009_105_Pizzaservice_DecoratorPattern/build/
/181009_105_Pizzaservice_DecoratorPattern/dist/
/181009_105_Pizzaservice_DecoratorPattern/nbproject/private/
/181022_106_Pizzaservice_DecoratorPattern/nbproject/private/
/181023_107_Pizza_DecoratorPattern/nbproject/private/
/181022_106_Pizzaservice_DecoratorPattern/build/
/181022_106_Pizzaservice_DecoratorPattern/dist/
/181106_Pizza_Cookie/nbproject/private/
/181106_Pizza_Cookie/build/
/pls_1_Kontodaten/nbproject/private/
/pls_1_Kontodaten/build/
/plf_1_DecoraderPattern/nbproject/private/
/181112_StudentAdministration/nbproject/private/
/181112_StudentAdministration/build/
/181112_StudentAdministration/dist/
/.recommenders/
/bsp_EL_JSTL_Intro/nbproject/private/
/bsp_EL_JSTL_Intro/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/181204_Bsp_201_Hotelreservierung/nbproject/private/
/181204_Bsp_201_Hotelreservierung/build/
/181204_Bsp_201_Hotelreservierung/dist/
/181204_201_Hotelreservierung/build/
/181204_201_Hotelreservierung/dist/
/181204_201_Hotelreservierung/nbproject/private/
/190117_203_Web_Sakila_FilmDB/nbproject/private/
/190117_203_Web_Sakila_FilmDB/build/
/190117_203_Web_Sakila_FilmDB/dist/
/190108_200_DB_ConnectionPool/nbproject/private/
/190108_200_DB_ConnectionPool/build/
/binary/nbproject/private/
/binary/build/
/190122_bsp_201_Echoserver/nbproject/private/
/190122_bsp_201_Echoserver/build/
/190123_bsp_202_GroupChat/nbproject/private/
/190123_bsp_202_GroupChat/build/
/hack/nbproject/private/
/hack/build/
/190225_bsp_304_MailServerClient/nbproject/private/
/190225_bsp_304_MailServerClient/build/